.user-container{
    display: flex;
    margin: 2rem auto;
    justify-content: center;
}

.user-container h2{
    margin: 0 2rem;
}

.user-container button{
    margin: 0 2rem;
    padding: 0 16px;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: 0.5px;
    outline: 0;
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    vertical-align: middle;
    z-index: 1;
}

@media (max-width: 480px) {
    .user-container{
        display: flex;
        flex-direction: column;
        margin: 2rem auto 0;
        align-items: center;
        overflow: hidden;
    }

    .user-container h2{
        margin: 0;
        word-wrap: break-word;
        word-break: break-all;
    }

    .user-container button{
        margin: 1rem 0 0;
        align-self: center;
        line-height: 3rem;
    }
}